.form-container{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
}

.login-form{
  border-radius: 10px;
  width: 400px;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(164, 164, 164, 0.4),-2px -2px 2px rgba(163, 163, 163, 0.4);
}
.login-form h2{
  text-align: center;
  margin: 20px auto 30px;
}
form{
  padding: 20px 30px;
}
.login-form p{
  text-align: center;
}
.login-form a{
  text-decoration: none;
}
.login-btn{
  background-color: #2691d9;
  border: 1px solid #2691d9;
  padding: 8px 50px;
  border-radius: 25px;
  margin: 20px auto;
  color: white;
  transition: all 0.7s ease;
}
.login-btn:hover{
  background-color: #fff;
  color: #2691d9;
}




/* register form */
.register{
  height: auto;
  padding: 50px 0;
}
.register-form{
  font-size: 80%;
}




@media (width<468px) {
  .login-form{
  width: 320px;
}
}